# --------------------
# Backend (Python)
# --------------------
Backend/.venv/
Backend/__pycache__/
Backend/.env
Backend/*.sqlite3
Backend/notifications/fcm_admin_config.json
# --------------------
# Frontend (Flutter)
# --------------------
Frontend/build/
Frontend/.dart_tool/
Frontend/.idea/
Frontend/.vscode/

#---- Signed APK ----
# sigining related
frontend/android/key.properties  
frontend/android/*.jks


# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
